body {
    background: #1d2d50;
    color: #fcdab7;
  }
  
  div.jeu {   
    height: 520px;
    width: 520px;
    margin: 2em auto 2em auto;
  }
  
  div.case {
    height: 100px;
    width: 100px;
    border: 3px solid #1e5f74;
    float: left;
    margin: 10px;
    background-color: #133b5c;
  }
  
  img {
    height: 100px;
    width: 100px;
  }
  
  hr {
    clear: both;
    visibility: hidden;
  }
  