
.menu-overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: space-around;
}


body {
  margin: 0;
  font-family: jaro;
  background-image: url(/src/assets/images/wallpaper_menu.png);
  background-size: cover; /* Assure que l'image couvre tout l'écran */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition */
  width: 100vw; /* Utilisation de la largeur totale de la fenêtre */
  height: 100vh; /* Utilisation de la hauteur totale de la fenêtre */
  overflow: hidden; /* Empêche le défilement si jamais l'image dépasse */
}
  
h1 {
  font-size: 64px;
  font-weight: 400;
  line-height: 80px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: rgba(67, 47, 110, 1);
  -webkit-text-stroke: 2px rgba(255, 255, 255, 1);
  text-shadow: 0px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  background: transparent;
}

img {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  display: block;
  z-index: 0;
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  margin-bottom: 20px;
  gap: 40px;
}







