.gradient-border-mask {
    display: flex;
    position: relative;
    background: transparent;
    padding: 8px 24px;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 1);
    color: transparent;
    box-shadow: 0px 10px 0px 10px rgba(0, 0, 0, 0.5);

}

.gradient-border-mask::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 28px;
    border: 5px solid transparent;
    background: linear-gradient(180deg, #352D68, #FFFFFF) border-box; /* Gradient from purple to white */
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.gradient-border-mask:hover {

    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: transparent;
    border: none;

}

button {
    border: none;
    border-radius: 28px;
    color: white;
    cursor: pointer;
    font-family: Jaro;
    font-size: 64px;
    font-weight: 400;
    line-height: 80px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  
  }
  
  button:hover{
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: transparent;
  }